# ------------------------
# Python
# ------------------------
__pycache__/
*.py[cod]
*$py.class

# ------------------------
# Virtual Environment
# ------------------------
myenv/
venv/
.env

# ------------------------
# Pytest
# ------------------------
.pytest_cache/

# ------------------------
# Reports
# ------------------------
reports/

# ------------------------
# macOS
# ------------------------
.DS_Store

# ------------------------
# VS Code
# ------------------------
.vscode/